<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial: "form", locals: { prototype: @prototype } %>
        <%# <%= render partial: "form", locals: { @prototype: @prototype } %#>  
        でも大丈夫（上記は可読性のスピードを考慮した書き方）
        
        RENDER ：部分テンプレートを読み込む　　
            "form"：HTML
            renderは、呼び出すビューファイルを指定するメソッドです。コントローラー、ビューのどちらでも使えます。
            https://master.tech-camp.in/v2/curriculums/4226


             renderレンダーメソッド
              renderメソッドは、部分テンプレートを呼び出す際に利用するメソッドです。
              呼び出す部分テンプレートは、partialというオプションで指定します。
            partialパーシャルオプション
              renderメソッドで使用できるオプションです。
              partialというオプションを付け、部分テンプレート名を指定することで、該当する部分テンプレートを表示できます。

            localsローカルズオプション
              renderメソッドで使用できるオプションです。 localsというオプションを付けることで、部分テンプレート内でその変数を使えるようになります。


        %>

    </div>
  </div>
</div>



